.customSquare-box{
    margin: auto;
    position: relative;
    width: 50%;
    overflow: hidden;
    background: none;
    text-align: center;
}
.customSquare-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.customSquare-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}

/* Implementation */

/* <div className="customSquare-box">
 <img className="customSquare-content" />
</div> */